{% extends "base.html" %}
{% block content %}
  {% if request.user.role == "admin" %}
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-4">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}" class="text-decoration-text-none text-black"><i class="bi bi-house-door-fill"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        </ol>
      </nav>
    </div>
    <div class="row mt-4">
      <div class="col-sm-4 mb-4 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Logged Users</h5>
            <p class="card-text">All Users Visited in the website</p>
            <div class="d-md-flex justify-content-md-end">
              <a href="{% url 'view_users' %}" class="btn btn-primary btn-sm ">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Registered Complaints</h5>
            <p class="card-text">View all Registered Complaints</p>
            <div class="d-md-flex justify-content-md-end">
              <a href="{% url 'all_complaints' %}" class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">All  Dress Code Enquiry</h5>
            <p class="card-text">all dress code enquiry..</p>
            <div class="d-md-flex justify-content-md-end">
              <a href="{% url 'all_enquiry' %}" class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Offers</h5>
            <p class="card-text">All Offers.</p>
            <div class="d-md-flex justify-content-md-end">
              <a href="{% url 'view_offers' %}" class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
