 {% extends "base.html" %}
 {% comment %}
{% block content %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-4">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}" class="text-decoration-text-none text-black"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active">{{ page_title }}</li>
      </ol>
    </nav>
  </div>
  {% if all_bookings %}
    <div class="container">
      <table class="table  table-striped table-hover table-border table-sm">
        <thead>
          <tr class="text-center">
            <th scope="colspan">Username</th>
            <th scope="colspan">Report</th>
            <th scope="colspan">Reported Date</th>
            <th scope="colspan">Respond</th>
            <th colspan="2">Actions</th>
          </thead>
        </tr>
        <tbody class="table-group divider">
          {% for bookings in all_bookings %}
            <tr class="text-center">
              <td>{{ bookings.username }}</td>
              <td>{{ bookings.booked_date }}</td>
              <td>{{ bookings.return_date }}</td>
              <td>{{ booking.address }}</td>
              <td>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ bookings.id }}">Cancel</button>
              </td>
              <td>
                {% comment %} <a href="{% url 'update_complaints' complaints.id %}" class="btn btn-primary btn-sm">Update</a> {% endcomment %}
              {% comment %} </td>
            </tbody>
          </tr>
          <div class="modal fade"
               id="exampleModalLabel{{ bookings.id }}"
               tabindex="-1"
               aria-labelledby="exampleModalLabel{{ bookings.id }}"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel{{ bookings.id }}">Confirm Delete</h1>
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">Are you sure you want to delete</div>
                <div class="modal-footer">
                  <a href="{% url 'delete_rented_costumes' bookings.id %}">
                    <button type="button" class="btn btn-delete btn-sm">confirm Delete</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </table>
    {% else %}
      <div class="alert alert-primary text-center" role="alert">Currently No Boooking Yet !!!</div>
    {% endif %}
  {% endblock content %} {% endcomment %} 
