{% extends "base.html" %}
{% block content %}
  {% if request.user.role == "admin" %}
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-4">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}" class="text-decoration-text-none text-black"><i class="bi bi-house-door-fill"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        </ol>
      </nav>
    </div>
    <div class="container">
      {% if all_users %}
        <table class="table table-border table-hover table-striped table-sm">
          <thead>
            <tr class="text-center">
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Last Login</th>
              <th scope="col">Date Joined</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for user in all_users %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.last_login }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModalLabel{{ user.id }}">Delete</button>
                  <a href="{% url 'update_users' user.id %}">
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                  </a>
                </td>
              </tr>
              <div class="modal fade"
                   id="exampleModalLabel{{ user.id }}"
                   tabindex="-1"
                   aria-labelledby="exampleModalLabel{{ user.id }}"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel{{ user.id }}">Delete Confirmation</h1>
                      <button type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to Delete</div>
                    <div class="modal-footer">
                      <a href="{% url 'delete_users' user.id %}">
                        <button type="submit" class="btn btn-danger btn-sm">Confirm Delete</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No users found.</p>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
