
{% extends "base.html" %}
{% block content %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-4">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="text-decoration-text-none text-black">
                    <i class="bi bi-house-door-fill"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        </ol>
    </nav>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">

                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token%}
                        {{form.as_p}}

                        <div class="d-grid gap-2">

                            <button type="submit" class="btn btn-primary btn-sm">{{page_title}}</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content%}